@model List<Rack>
<div class="col-12" style="margin-top:30px">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Racks Table</h6>
        <a asp-action="Create" class="btn btn-primary" style="margin-bottom:5px">Create</a>




        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rack Number</th>
                     <th scope="col">Status</th>
                    <th scope="col" style="text-align:right">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var rack in Model)
                {
                    <tr>
                        <th scope="row">@rack.Id</th>
                        <td>@rack.RackNumber</td>
                      
                        <td>
                            @if (rack.IsDecative)
                            {
                                <div class="badge badge-danger">Passiv</div>

                            }
                            else
                            {
                                <div class="badge badge-success">Active</div>
                            }
                        </td>

                        <td>
                            <div class="d-flex justify-content-end">
                                <div style="margin-right:5px">
                                    <a asp-action="Update" asp-route-id="@rack.Id" class="btn btn-info">Update</a>
                                </div>
                                @*<div style="margin-right:5px">
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-success">Detail</a>
                            </div>*@

                                @if (rack.IsDecative)
                                {

                                    <div style="margin-right:5px">
                                        <a asp-action="Activity" asp-route-id="@rack.Id" class="btn btn-success">Activate</a>
                                    </div>
                                }
                                else
                                {

                                    <div style="margin-right:5px">
                                        <a asp-action="Activity" asp-route-id="@rack.Id" class="btn btn-danger">Deactivate</a>
                                    </div>
                                }

                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
